<div class="col-md-12 col-lg-12">
  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-body>
          <div class="row full-name-inputs">
            <div class="input-group col-md-4 input-group-sm">
              <input type="text" class="form-control" placeholder="Désignation" name="Désignation" [(ngModel)]="outillage.designationO" disabled/>
            </div>
            <div class="input-group col-md-8 input-group-sm">
              <input type="text" class="form-control" placeholder="Libelle" name="Libelle" [(ngModel)]="outillage.libelleO"disabled/>
            </div>
          </div>
          <div class="row full-name-inputs">
            <div class="input-group col-md-12 input-group-sm">
              <input type="text" class="form-control" placeholder="Référence" name="Référence"  [(ngModel)]="outillage.refO"disabled/>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
